.infoBox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		height: 64px;
		width: 320px;
		padding: 5px;
		margin: 25px;
		background: linear-gradient(
			180deg,
			#ffffff 0%,
			rgba(255, 255, 255, 0) 100%
		);
		border-radius: 25px;
		display: flex;
		align-items: center;

		/* background: #fffff8; */

		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;

		color: #000000;
		img {
			margin-right: 15px;
			width: 49px;
			height: 49px;
		}
	}
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1400px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

@media (max-width: 480px) {
	.infoBox {
		&__item {
			margin: 10px;
		}
	}
}
/* Iphone 5 */
@media (max-width: 320px) {
}
