@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap");
body {
	transition: all 1s linear;
}
.active {
	color: #1890ff;
}
.auth {
	position: absolute;
	width: 400px;
	top: 50%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
	text-align: center;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	.ant-input-password {
		margin: 20px 0 10px;
	}
	button {
		margin-top: 10px;
	}
}
.oh {
	overflow: hidden;
}
.oa {
	overflow: auto;
}
.cb-50 {
	position: absolute;
	bottom: 50px;
}
.desc {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.mobile {
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	visibility: none;
}
.gold {
	color: #ffb800;
}
.black {
	color: #000;
}
.gray {
	color: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);
}
.display {
	display: none !important;
}
.nextI {
	color: #ffb800;
	font-size: 24px;
	cursor: pointer;
	outline: none;
}
.nextI_b {
	color: #000;
	font-size: 24px;
	cursor: pointer;
	outline: none;
}
.news-block {
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: 700px;
	flex-wrap: wrap;
	width: 100%;
}
.service_box {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	height: 700px;
	flex-wrap: wrap;
	// padding-bottom: 150px;
	width: 100%;
	position: relative;
}
.slick-slider,
.slick-list {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}
.slick-prev,
.slick-next {
	width: 50px;
	height: 50px;
	&::before {
		font-size: 30px;
		color: #373737;
	}
}
.slick-prev {
	left: -50px;
}
.slick-next {
	right: -50px;
}
.button {
	outline: none;
	background: linear-gradient(96.67deg, #ffb800 21.07%, #ffffff 109.65%);
	color: #000;
	text-transform: uppercase;
	border-radius: 100px;
	border: none;
	padding: 10px 40px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	cursor: pointer;
	transition: all 0.3s linear;
	backdrop-filter: blur(4px);
	z-index: 1;
	&:hover {
		transition: all 0.3s linear;
		background: linear-gradient(96.67deg, #ffb800 109.65%, #ffffff 21.07%);
		box-shadow: 0px 4px 35px 0px #ffdb7e6e;
	}
}
.button_s {
	text-transform: uppercase;
	border: none;
	width: 210px;
	height: 46px;
	padding: 10px 15px;
	outline: none;
	margin: 0 auto;
	backdrop-filter: blur(4px);
	border-radius: 100px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	cursor: pointer;
	transition: all 0.3s linear;
	color: #000;
	background: linear-gradient(96.67deg, #ffb800 109.65%, #ffffff 21.07%);
	z-index: 1;
	&:hover {
		background: linear-gradient(96.67deg, #ffb800 21.07%, #ffffff 109.65%);
		box-shadow: 0px 4px 35px rgba(255, 184, 0, 0.72);
		transition: all 0.3s linear;
	}
}
.ml-40 {
	margin-left: 40px;
}
.ml-80 {
	margin-left: 80px;
}
.ml-120 {
	margin-left: 120px;
}
@media (min-width: 1400px) {
	.cb-50 {
		left: 50%;
		bottom: 50px;
		transform: translateX(-50%);
	}
}
/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1400px) {
	.cb-50 {
		left: 50%;
		bottom: 50px;
		transform: translateX(-50%);
	}
	.button_s,
	.button {
		font-size: 14px;
		line-height: 16px;
	}
	.button_s {
		width: auto;
		height: 36px;
		padding: 10px 35px;
	}
	.service_box {
		height: 380px;
	}
	.news-block {
		height: 380px;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.cb-50 {
		position: relative;
		width: auto;
		margin-top: 50px;
		// margin: 0;
		// margin-bottom: 50px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.cb-50 {
		position: relative;
		width: auto;
		margin-top: 50px;
		// margin: 0;
		// margin-bottom: 50px;
	}
	body {
		overflow: auto;
	}
	.oh {
		overflow: auto !important;
	}
	.desc {
		display: none;
		visibility: none;
	}
	.mobile {
		display: flex;
		visibility: visible;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.cb-50 {
		position: relative;
		width: auto;
		margin-top: 50px;
		// margin: 0;
		// margin-bottom: 50px;
	}
	body {
		overflow: auto;
	}
	.oh {
		overflow: auto;
	}
	.desc {
		display: none;
		visibility: none;
	}
	.mobile {
		display: flex;
		visibility: visible;
	}
	.button {
		position: absolute;
		left: 50%;
		right: 50%;
		transform: translateX(-50%);
	}
}

@media (max-width: 480px) {
	.cb-50 {
		position: relative;
		width: auto;
		margin-top: 50px;
		// margin: 0;
		// margin-bottom: 50px;
	}
	body {
		overflow: auto;
	}
	.service_box {
		height: 420px;
	}
	.news-block {
		height: 450px;
	}
	.service_box,
	.news-block {
		padding-bottom: 0;
		margin-bottom: 50px;
		width: 300px;
	}
	.button {
		position: absolute;
		left: 50%;
		right: 50%;
		transform: translateX(-50%);
	}
	.button_s,
	.button {
		font-size: 16px;
		line-height: 20px;
	}
}
/* Iphone 5 */
@media (max-width: 320px) {
	body {
		overflow: auto;
	}
}
