.contact {
	background: #000 url("/img/contacts.png") center center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	padding: 78px 25px;
	min-height: 100vh;
	display: grid;
	grid-template-areas: "title" "cont" "send" "form";
	justify-items: center;
	h1 {
		margin: 0;
		text-align: center;
		grid-area: title;
		height: 95px;
		padding: 0px 100px 20px 100px;

		font-family: Roboto Condensed;
		font-style: normal;
		font-weight: normal;
		font-size: 64px;
		line-height: 75px;
		/* identical to box height */

		color: #ffffff;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		text-transform: uppercase;
		border-bottom: 2px solid #ffb800;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(4px);
	}
	.social {
		grid-area: social;
		text-align: center;
		margin: 20px 0;
	}
	.map {
		grid-area: map;
		height: 1px;
		width: 1060px;
	}
	.cont {
		grid-area: cont;
		width: 1060px;
		height: 50px;
		display: grid;
		grid-template-areas: "addr email phone";
		grid-template-columns: 1fr 1fr 1fr;
		.addr {
			grid-area: addr;
			display: flex;
			font-family: Roboto Condensed;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 21px;
			height: 50px;
			color: #ffffff;

			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			img {
				width: 42px;
				height: 42px;
				margin-right: 15px;
				float: left;
			}
			span {
				font-family: Roboto Condensed;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				height: 50px;
				color: #ffffff;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				span {
					font-family: Roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 21px;

					color: #ffb800;

					text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					backdrop-filter: blur(4px);
				}
			}
		}
		.email {
			grid-area: email;
			display: flex;
			justify-content: center;
			font-family: Roboto Condensed;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 21px;
			height: 50px;
			color: #ffffff;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			img {
				width: 42px;
				height: 42px;
				margin-right: 15px;
				float: left;
			}
			span {
				font-family: Roboto Condensed;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				height: 50px;
				color: #ffffff;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				span {
					font-family: Roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 21px;

					color: #ffb800;

					text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					/* backdrop-filter: blur(4px); */
				}
			}
		}
		.phone {
			grid-area: phone;
			display: flex;
			justify-content: flex-end;

			img {
				width: 42px;
				height: 42px;
				margin-right: 15px;
				float: left;
			}
			span {
				font-family: Roboto Condensed;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				height: 50px;
				color: #ffffff;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				span {
					font-family: Roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 21px;

					color: #ffb800;

					text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					/* backdrop-filter: blur(4px); */
				}
			}
		}
	}
	h2 {
		grid-area: send;
		font-family: Roboto Condensed;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 36px;

		color: #ffffff;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(4px);
	}
	.form {
		grid-area: form;
		display: grid;
		grid-template-areas:
			"fio phones emails"
			"message message message"
			"sender checks checks";
		grid-template-columns: 1fr 1fr 1fr;
		width: 1060px;
		height: 550px;
		input[type="text"] {
			outline: none;
			width: 256px;
			height: 50px;
			padding: 0 10px;
			background: rgba(0, 0, 0, 0.25);
			mix-blend-mode: normal;
			border: 3px solid #ffb800;
			box-sizing: border-box;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			backdrop-filter: blur(4px);
			/* Note: backdrop-filter has minimal browser support */

			border-radius: 100px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;

			color: #ffffff;
		}
		textarea {
			outline: none;
			width: 1062px;
			height: 220px;
			padding: 20px;
			background: rgba(0, 0, 0, 0.25);
			mix-blend-mode: normal;
			border: 3px solid #ffb800;
			box-sizing: border-box;
			backdrop-filter: blur(4px);
			/* Note: backdrop-filter has minimal browser support */

			border-radius: 30px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;

			color: #ffffff;
		}
		button {
			margin: 0;
			margin-right: auto !important;
		}
		.checks {
			grid-area: checks;
			height: 21px;
			&:checked + label::before {
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ffb800' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
			}
		}
		.checks + label {
			display: inline-flex;
			align-items: center;
			user-select: none;
			height: 46px;
			&::before {
				content: "";
				display: inline-block;
				width: 1em;
				height: 1em;
				flex-shrink: 0;
				flex-grow: 0;
				border: 2px solid #ffb800;
				border-radius: 0.25em;
				margin-right: 0.5em;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 50% 50%;
			}
		}
		input[type="checkbox"] {
			/* width: 19px;
			height: 21px;
			line-height: 21px;
			border: 2px solid #ffb800;
			box-sizing: border-box; */
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
		.myCheck {
			width: 25px;
			height: 25px;
			border: 2px solid #ffb800;
			box-sizing: border-box;
		}
		label {
			font-family: Roboto;
			font-style: normal;
			font-weight: 200;
			font-size: 18px;
			line-height: 21px;
			/* identical to box height */

			color: #ffffff;

			margin-left: 30px;
		}

		.fio {
			grid-area: fio;
			margin-right: auto;
		}
		.phones {
			grid-area: phones;
			margin: 0 auto;
		}
		.emails {
			grid-area: emails;
			margin-left: auto;
		}
		.message {
			grid-area: message;
		}
		.sender {
			grid-area: sender;
		}
	}
}
/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1400px) {
	.contact {
		padding: 50px 25px;
		h1 {
			font-size: 42px;
			line-height: 46px;
			height: 50px;
			padding: 0px 60px 20px 60px;
		}
		h2 {
			font-size: 24px;
			line-height: 30px;
			height: 30px;
			margin: 10px 0;
		}
		.social {
			margin: 10px 0;
			height: 30px;
			img {
				width: 30px;
			}
		}
		.cont {
			.addr,
			.email,
			.phone {
				img {
					width: 32px;
					height: 32px;
				}
				span {
					font-size: 12px;
					line-height: 15px;
					span {
						font-size: 12px;
						line-height: 15px;
					}
				}
			}
		}
		.form {
			height: 300px;
			.checks + label {
				height: 36px;
			}
			input[type="text"] {
				width: 256px;
				height: 35px;
				padding: 0 10px;
				border-radius: 100px;
				font-size: 12px;
				line-height: 215px;
			}
			textarea {
				width: 1062px;
				height: 160px;
				padding: 10px;
				font-size: 12px;
				line-height: 15px;
			}
		}
	}
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.container,
	.container_b {
		.wrap {
			h1 {
				font-size: 36px;
				font-weight: 600;
			}
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

@media (max-width: 480px) {
	.contact {
		padding: 50px 25px 80px;
		background-size: auto 100%;
		height: 100%;
		max-height: 100%;
		h1 {
			font-size: 42px;
			line-height: 46px;
			height: 50px;
			padding: 0px 60px 20px 60px;
		}
		h2 {
			font-size: 24px;
			line-height: 30px;
			height: 30px;
			margin: 10px 0;
		}
		.social {
			margin: 10px 0;
			height: 30px;
			img {
				width: 30px;
			}
		}
		.cont {
			grid-template-areas: "addr" "email" "phone";
			grid-template-columns: 1fr;
			height: auto;
			margin: auto auto;
			width: 100%;
			.addr,
			.email,
			.phone {
				margin: 5px auto;
				height: 40px;
				width: 350px;
				justify-content: center;
				img {
					width: 32px;
					height: 32px;
				}
				span {
					font-size: 12px;
					line-height: 15px;
					span {
						font-size: 12px;
						line-height: 15px;
					}
				}
			}
		}
		.form {
			height: 550px;
			width: 100%;
			grid-template-areas:
				"fio"
				"phones"
				"emails"
				"message"
				"checks"
				"sender";
			grid-template-columns: 1fr;
			grid-template-rows: 50px 50px 50px;
			.fio,
			.phones,
			.emails,
			.message,
			.sender {
				margin: 10px auto;
			}
			.checks + label {
				height: 36px;
			}
			input[type="text"] {
				width: 256px;
				height: 35px;
				padding: 0 10px;
				border-radius: 100px;
				font-size: 12px;
				line-height: 215px;
			}
			textarea {
				width: 350px;
				height: 160px;
				padding: 10px;
				font-size: 12px;
				line-height: 15px;
			}
		}
	}
}
/* Iphone 5 */
@media (max-width: 320px) {
}
