@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap");
body {
	transition: all 1s linear;
}
.gold {
	color: #ffb800;
}
.black {
	color: #000;
}
.gray {
	color: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);
}
.display {
	display: none !important;
}
.nextI {
	color: #ffb800;
	font-size: 24px;
	cursor: pointer;
	outline: none;
}
.nextI_b {
	color: #000;
	font-size: 24px;
	cursor: pointer;
	outline: none;
}
.news-block {
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: auto;
	flex-wrap: wrap;
	padding-bottom: 150px;
	width: 100%;
}
.service_box {
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: auto;
	flex-wrap: wrap;
	padding-bottom: 150px;
	width: 100%;
}
.button {
	outline: none;
	background: linear-gradient(96.67deg, #ffb800 21.07%, #ffffff 109.65%);
	text-transform: uppercase;
	border-radius: 100px;
	border: none;
	padding: 10px 40px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	cursor: pointer;
	transition: all 0.3s linear;
	backdrop-filter: blur(4px);
	z-index: 1;
	&:hover {
		transition: all 0.3s linear;
		background: linear-gradient(96.67deg, #ffb800 109.65%, #ffffff 21.07%);
		box-shadow: 0px 4px 35px 0px #ffdb7e6e;
	}
}
.button_s {
	text-transform: uppercase;
	border: none;
	width: 210px;
	height: 46px;
	padding: 10px 15px;
	outline: none;
	margin: 0 auto;
	backdrop-filter: blur(4px);
	border-radius: 100px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	cursor: pointer;
	transition: all 0.3s linear;
	background: linear-gradient(96.67deg, #ffb800 109.65%, #ffffff 21.07%);
	z-index: 1;
	&:hover {
		background: linear-gradient(96.67deg, #ffb800 21.07%, #ffffff 109.65%);
		box-shadow: 0px 4px 35px rgba(255, 184, 0, 0.72);
		transition: all 0.3s linear;
	}
}
.ml-40 {
	margin-left: 40px;
}
.ml-80 {
	margin-left: 80px;
}
.ml-120 {
	margin-left: 120px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1400px) {
	.button_s,
	.button {
		font-size: 14px;
		line-height: 16px;
	}
	.button_s {
		width: auto;
		height: 36px;
		padding: 10px 35px;
	}
	.service_box {
		padding-bottom: 50px;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

@media (max-width: 480px) {
}
/* Iphone 5 */
@media (max-width: 320px) {
}
